<div class="my-modal text-annotation-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">New Annotation</h4>
    </div>
    <div class="modal-body">
        <div class="wrap-text wrap-info-modal">
            <div class="title-text">
                Text
            </div>
            <div class="content-text">
                {{ selected.text }}
            </div>
        </div>

        <div class="wrap-entity wrap-info-modal">
            <div class="title-text">
                Entity type
            </div>
            <div class="content-text">
                <div class="row">
                    <div class="col-sm-3" ng-repeat="entity in listAnnotation">
                        <div class="radio radio-primary">
                            <input type="radio" id="{{ entity.type }}" name="radio-entity" ng-click="selectEntity(entity)" ng-checked="checkExistEntity(entity)">
                            <label for="{{ entity.type }}" ng-style="{'border-color': entity.border, 'background-color': entity.bgColor}" class="label-annotation">
                                {{ entity.type }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">
            <i class="fa fa-check-square-o" aria-hidden="true"></i> OK</button>
    </div>
</div>
